---
nav: documentation
title: GTK+ Documentation (Old)
---
<h2><a name="OlderDocumentation">Older Documentation</a></h2>
<p>We recommend the GTK+ 3.x libraries and documentation instead because older versions are no longer supported, this documentation is available for those that need it.</p>

<h2><a name="API">API Documentation</a></h2>

<p>The API documentation for GTK+ 2.x is still <a href="https://developer.gnome.org/gtk2/stable/">available</a>.</p>

<h2><a name="Books">Books</a></h2>
<ul>
	<li>
		<a href="http://www.amazon.com/Gnome-Application-Development-Havoc-Pennington/dp/0735700788/" class="external">GTK+/Gnome Application Development</a>
		<br />This book was written by Havoc Pennington
	</li>
	<li>
		<a href="http://www.amazon.com/Gtk%2B-Programming-C-Syd-Logan/dp/0130142646/" class="external">GTK+ Programming in C</a>
		<br />This book was written by Syd Logan
	</li>
	<li>
		<a href="http://www.amazon.com/Developing-Linux-Applications-GTK%2B-GDK/dp/0735700214/" class="external">Developing Linux Applications with GTK+ and GDK</a>
		<br />This book was written by Eric Harlow
	</li>
	<li>
		<a href="http://www.amazon.com/Sams-Teach-Yourself-GTK%2B-Programming/dp/0672318296/" class="external">Sams Teach Yourself GTK+ Programming in 21 Days</a>
		<br />This book was written by Donna Martin
	</li>
	<li>
		<a href="http://www.amazon.com/Gnome-Gtk%2B-Programming-Bible-Wiley/dp/0764546406/" class="external">GNOME/GTK+ Programming Bible</a>
		<br />This book was written by Arthur Griffith
	</li>
</ul>

<h2><a name="Tutorials">Tutorials</a></h2>
<ul>
        <li>
                <a href="https://developer.gnome.org/gtk-tutorial/stable/" class="external">GTK+ 2.x</a>
                <br />The GTK+ 2.x Tutorial.
        </li>
</ul>


<h2><a name="UsefulLinks">Useful Links</a></h2>
<ul>
	<li>
		<a href="http://ometer.com/gtk-colors.html" class="external">How to set the color of a widget</a>
		<br />A small article by Havoc Pennington.
	</li>
</ul>