<div id="footer">
    <pre style="display: none;"><!-- For Lynx --></pre>
		<span>Copyright &copy; 2007-2017 The GTK+ Team</span> |
		<span>Valid <a href="http://validator.w3.org/check?uri=http://{{ site.url }}{{ page.url }}&amp;charset=utf-8&amp;doctype=Inline&amp;group=0">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/validator?uri={{ site.url }}{{ page.url }}/css/global.css&amp;profile=css21&amp;usermedium=all&amp;warning=1&amp;lang=en">CSS</a></span>
</div>