<div id="globalnav_wrap">
	<div id="globalnav">
		<span class="relation">Part of the <a href="..">GTK+ Project</a></span>
		<ul>
		  {% for nav_item in site.data.global_nav %}
			  <li {% if page.nav == nav_item.key %} class="current" {% endif %}>
			    <a href="{{ nav_item.link }}" {% if page.description %} title="{{ nav_item.description }}" {% endif %}>
			        {{ nav_item.name }}
			    </a>
			  </li>
		  {% endfor %}
		</ul>
	</div>
</div>