<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="author" content="The GTK+ Team" />
  <meta name="description" content="GTK+ is a highly usable, feature rich toolkit for creating graphical user interfaces which boasts cross platform compatibility and an easy to use API. GTK+ is licensed under the GNU LGPL 2.1 allowing development of both free and proprietary software with GTK+ without any license fees or royalties." />
  <meta name="keywords" content="gtk, gtk+, gimp, toolkit, user interface" />
  <link href="{{ site.baseurl }}/css/global.css" rel="stylesheet" type="text/css" />
  <link href="{{ site.baseurl }}/css/browser.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ site.baseurl }}/images/gtk-logo.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/gtk-logo.ico" type="image/x-icon" />

  <!--[if lte IE 6]>
  <script defer="defer" type="text/javascript">
//<![CDATA[

// The following is an ever-so-slighly customized version of supersleight
var supersleight=function(){var root='content';
	var applyPositioning=true;
	var shim='/images/x.gif';
var fnLoadPngs=function(){if(root){root=document.getElementById(root);}else{root=document;}
for(var i=root.all.length-1,obj=null;(obj=root.all[i]);i = i - 1){if(obj.currentStyle.backgroundImage.match(/\.png/i)!==null){bg_fnFixPng(obj);}
if(obj.tagName=='IMG'&&obj.src.match(/\.png$/i)!==null){el_fnFixPng(obj);}
if(applyPositioning&&(obj.tagName=='A'||obj.tagName=='INPUT')&&obj.style.position===''){obj.style.position='relative';}}};var bg_fnFixPng=function(obj){var mode='scale';var bg=obj.currentStyle.backgroundImage;var src=bg.substring(5,bg.length-2);if(obj.currentStyle.backgroundRepeat=='no-repeat'){mode='crop';}
obj.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='"+mode+"')";obj.style.backgroundImage='url('+shim+')';};var el_fnFixPng=function(img){var src=img.src;img.style.width=img.width+"px";img.style.height=img.height+"px";img.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='crop')";img.src=shim;};var addLoadEvent=function(func){var oldonload=window.onload;if(typeof window.onload!='function'){window.onload=func;}else{window.onload=function(){if(oldonload){oldonload();}
func();};}};return{init:function(){addLoadEvent(fnLoadPngs);},limitTo:function(el){root=el;},run:function(){fnLoadPngs();}};}();supersleight.init();

//]]>
</script>
<![endif]-->

<!--[if lte IE 6]>
<style type="text/css">
/*<![CDATA[*/
/* So content div can clear sidebar floats */
#content {
	width: 860px;
}
/* Fix double margin float bug */
.bindingtable, .legend {
	display: inline;
}

/* No let's disable it for external links it doesn't work well enough */
a.external, a.pdf, a.email, a.info, a.irc, a.archives, a.download {
	padding: 0 !important;
	background-image: none;
}

a:hover { text-decoration: none; }

/* Inline-block for screenshots */
.gallery li {
	height: 175px;
	zoom: 1;
	display: inline;
}
.gallery .figure {
	text-align: center;
}
.gallery .figure a {
	margin: 0 auto;
	display: block;
}
.gallery .caption {
	word-wrap: nowrap;
}

.columns {
	width: 860px;
	overflow: hidden;
}
/*]]>*/
</style>
<![endif]-->

<!--[if gt IE 6]>
<style type="text/css">
/*<![CDATA[*/
/* IE7/8-implemented link images */
a {
	zoom: 1;
}
/*]]>*/
</style>
<![endif]-->

<!--[if IE]>
<style type="text/css">
/*<![CDATA[*/
/* Pre elements aren't wrapping */
pre {
	word-wrap: break-word;
}

/* Platform list doesn't render correctly */
.platform_list li {
	list-style-image: none;
	height: 36px;
}

/* Hovering in IE causes reflow */
:link:hover, :visited:hover {
	border-bottom: none;
	text-decoration: underline;
	color: #999;
}

.newsfeed {
	list-style-image: none;
}

/* Inline-block for screenshots */
.gallery li {
	zoom: 1;
	*display: inline;
}
/*]]>*/
</style>
<![endif]-->

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      The GTK+ Project
    {% endif %}
  </title>
</head>