{% if page.navlinks == "gtk-doc" %}
  {% assign navlinks = site.data.docs_nav %}
{% else %}
  {% assign navlinks = site.data.global_nav %}
{% endif %}
<div id="navigation">
		<ul>
		  {% for nav_item in navlinks %}
			  <li {% if page.nav == nav_item.key %} class="current" {% endif %}>
			    <a href="{{ site.baseurl }}{{ nav_item.link }}" {% if page.description %} title="{{ nav_item.description }}" {% endif %}>
			      {{ nav_item.name }}
			    </a>
			  </li>
		  {% endfor %}
		</ul>
</div>