<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include head.html %}
<body {% if page.bodyclass %} class="{{ page.bodyclass }}" {% endif %}>
  {% if page.navlinks %}
    {% include global_nav.html %}
  {% endif %}
  <div id="container">
  	<div id="header">
  		<h1><span>{{ page.title }}</span></h1>
  	</div>
	  {% include navigation.html %}
    <div id="content">
      {{ content }}
      <br style="clear: both;" />
    </div>
    {% include footer.html %}
  </body>
</html>