---
nav: download
title: "GTK+ Download: GNU/Linux"
---

<h2><a name="Download">Download for GNU/Linux and Unix</a></h2>
<h3><a name="Requirements">Requirements</a></h3>
<p>You will need to get the GLib, GObject-Introspection, Pango, Gdk-Pixbuf, ATK and GTK+ packages to build GTK+.<br/>You may also need some of the external dependencies that are also linked for each version listed below.</p>

<h3><a name="StableRelease">Stable Release</a></h3>
<p>To build GTK+ <?php echo $versions['gtk']; ?>, see the <a href="https://developer.gnome.org/gtk3/stable/gtk-building.html" class="external">installation guide</a>. For additional help, the <a href="https://developer.gnome.org/gtk3/stable/gtk-question-index.html" class="external">FAQ</a> is a good starting point.</p>

<ul>
	<li><a href="http://ftp.gnome.org/pub/gnome/sources/gtk+/{{ site.data.stable_versions["gtk"] }}/" class="download">GTK+ {{ site.data.stable_versions["gtk"] }}</a></li>
	<li><a href="http://ftp.gnome.org/pub/gnome/sources/glib/{{ site.data.stable_versions["glib"] }}/" class="download">GLib {{ site.data.stable_versions["glib"] }}</a></li>
	<li><a href="http://ftp.gnome.org/pub/gnome/sources/pango/{{ site.data.stable_versions["pango"] }}/" class="download">Pango {{ site.data.stable_versions["pango"] }}</a></li>
	<li><a href="http://ftp.gnome.org/pub/gnome/sources/gdk-pixbuf/{{ site.data.stable_versions["gdk-pixbuf"] }}/" class="download">Gdk-Pixbuf {{ site.data.stable_versions["gdk-pixbuf"] }}</a></li>
	<li><a href="http://ftp.gnome.org/pub/gnome/sources/atk/{{ site.data.stable_versions["atk"] }}/" class="download">ATK {{ site.data.stable_versions["atk"] }}</a></li>
        <li><a href="http://ftp.gnome.org/pub/gnome/sources/gobject-introspection/{{ site.data.stable_versions['gobject-introspection'] }}/" class="download">GObject-Introspection {{ site.data.stable_versions['gobject-introspection'] }}</a></li>
</ul>
<!--
<ul>
<li><a href="ftp://ftp.gtk.org/pub/gtk/v<?php echo $versions['gtk']; ?>/dependencies"><img src="images/download.png" alt=""/> Dependencies</a></li>
</ul>
-->

<h3><a name="OlderVersions">Older Versions</a></h3>
<p>Some applications still require GTK+ 2, an older stable version of GTK+. You can have the run-time and development environments for GTK+ 3.x, GTK+ 2.x and GTK+ 1.2 installed simultaneously on your computer.</p>
<table>
	<tr>
		<th>Version</th>
		<th>Packages</th>
	</tr>
	{% for version in site.data.old_gtk.versions %}
	<tr>
		<td>GTK+ {{ version }}</td>
		<td><a href="http://ftp.gnome.org/pub/gnome/sources/gtk+/{{ version }}/" class="download">Sources</a></td>
	</tr>
	{% endfor %}
</table>
